.tracklist{
    padding: 20px;
}
.track{
    border-bottom: solid 1px rgb(51, 202, 20);
    margin: 5px 0;
    padding:15px;
    position:relative;
}
.track-header{
    display:flex;
    justify-content:space-between;
    padding:10px;
    flex-flow:column;
    max-width:300px;
    gap:20px;
    margin:auto;
}
.track-header img{
    border-radius:20px;
    margin:auto;
}
.track-title{
    font-size: 1.2em;
    color: #1f3d1fd2;
}
.track-details{
    display:flex;
    justify-content: space-between;
    color: #0b4b0f;
    padding:5px;
    flex-flow:column;
    max-width:280px;
    margin:auto;
}
.trackAdd{
    background-color: #1db9543c;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.5em;
    position:absolute;
    right:6px;
}
.results{
    flex-basis: 65%;
    text-align: center;
}
.result-list{
    list-style: none;
    padding:0;
    background-color: rgba(13, 123, 33, 0.075);
    border-radius: 8px;
    box-shadow: 4px 8px 18px 1px #afc4af;
    position: sticky;
    min-height: 80vh;
    overflow-y: auto;
    max-height:100vh
}
.embed-iframe {
    display:none;
    background: #000000ad;
    width: 100%;
    height: 100%;
    z-index: 9;
    position: fixed;
    top: 0;
}
.iframe-container{
    display: flex;
    width: fit-content;
    gap: 20px;
}
.show-iframe{
    display:flex;
    justify-content: center;
    align-items:center;
}
.close {
    width: fit-content;
    height:fit-content;
    z-index: 9;
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 100%;
    background-color: #10784b ;
    border:none;
}
.close:active{
    background-color: #fff;
    color:red;
    padding: 7px 17px;
}
.close:hover{
    background-color: #fff;
    color:red;
}
.embedPlayer{
    width: fit-content;
    margin: auto;
    z-index: 9;
}
.playSong,.playlist-save {
    border-radius: 100%;
    border:solid 1px black;
    background: #12784b;
    height: 42px;
    width: 46px;
    padding: 0;
    box-shadow:1px 5px 6px 0px
}
.playSong:active, .playlist-save:active {
    background-color: #fff;
    color: green;
    width: 43px;
    height: 40px;
}

@media (max-width:500px){
    .embedPlayer{
        left: 13%;
    }
    .result-list{
        position: relative;
        overflow:auto;
        max-height:100%;
    }
    .iframe-container{
        flex-flow:column-reverse;
        gap: 5px;
    }
}
