.App {
  height: 100vh;
}
.button{
  padding:12px;
  border-radius: 25px;
  border:none;
  background-color: #fff;
  font-size: 1.5em;
  box-shadow:1px 4px 9px 0px;
}
.button-playlist{
  padding:10px;
  border:none;
  border-radius:25px
}
p, h1, h2, h3, h4 {
  margin:0
}
.playlists input{
  padding:10px;
  border-radius:15px;
  font-size:1.1em;
  border:none;
  margin:5px;
  min-width:200px;
}
.playlists{
  display: flex;
    flex-flow: column;
    gap: 20px;
    align-items: center;
}
.empty{
  background-color: #0080003d;
    height: 25vh;
    width: 100%;
    border-radius: 8px
}
.container{
  background-color: rgba(74, 118, 62, 0.26);
  min-height: 50vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.login {
text-align:center;
padding:10px;
}
.login h1 {
  color:#508400;
  text-transform: capitalize;
}
.spotify{
  color:#20b013;
  border:none;
  margin-top:10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.header{
  height:50vh;
  overflow: hidden;
  background-image: url('http://localhost:3000/resources/images/pexels-photo-5318056.jpeg');
  background-size: contain;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  color:#fff;
  font-size: 4em;
  border: solid 5px rgb(255, 255, 255);
  padding: 10px;
  background-color: rgba(0,0,0,0.2);
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top:20px;
  right:20px;
  position: absolute;
  color: rgb(0, 121, 81);
}
.profile .name{
  background-color: seashell;
  padding: 7px;
  border-radius: 10px;
}
.profile-img{
  width:55px;
  border-radius:100%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.results-playlist{
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 20px;
  gap:20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
