.App {
  height: 100vh;

}
p, h1, h2, h3, h4 {
  margin:0
}
.container{
  background-color: rgba(74, 118, 62, 0.26);
  min-height: 50vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.header{
  height:50vh;
  overflow: hidden;
  background-image: url('http://localhost:3000/resources/images/pexels-photo-5318056.jpeg');
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  color:#fff;
  font-size: 4em;
  border: solid 5px rgb(255, 255, 255);
  padding: 10px;
  background-color: rgba(0,0,0,0.2);
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top:20px;
  right:20px;
  position: absolute;
  color: rgb(0, 121, 81);
}
.profile .name{
  background-color: seashell;
  padding: 7px;
  border-radius: 10px;
}
.profile-img{
  width:55px;
  border-radius:100%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.results-playlist{
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
