.App {
  height: 100vh;
}
body{
  background-color: rgba(74, 118, 62, 0.26);
}
.button{
  padding:12px;
  border-radius: 25px;
  border:none;
  background-color: #fff;
  font-size: 1.5em;
  box-shadow:1px 4px 9px 0px;
}
.loadMore{
        padding:10px;
        border-radius: 8px;
        border: none;
        margin:20px 0px 40px 0px;
        font-size:1.2em
}
.loadMore:hover{
        padding:10px;
        color:#fff;
        background-color: #12784b;
}
.button-playlist{
  padding:10px;
  border:none;
  border-radius:25px
}
p, h1, h2, h3, h4 {
  margin:0
}
/* Playlist styling */
playlist{
  position:relative
}
.myPlaylists{
  display:flex;
  justify-content: center;
  gap:10px;
  flex-flow:row wrap;
}
.newPlaylists {
  display: flex;
    flex-flow: column;
    gap: 20px;
    align-items: center;
    padding:10px
}
.playlist{
  background-color:rgb(36 36 36);
  color:#ffff;
  text-align: center;
  max-width:200px;
  position:relative;
}
.playlist img{
  width:100%;
}
.playlists-container input{
  padding:10px;
  border-radius:15px;
  font-size:1.1em;
  border:none;
  margin:5px;
  min-width:200px;
}
.playlists-container{
  display: flex;
    flex-flow: column;
    gap: 20px;
    align-items: center;
    padding:10px
}
.new-list .list-item{
  list-style: none;
  border-bottom: solid #fff;
  padding: 15px;
  display: flex;
  flex-basis:0;
  justify-content: space-between;
}
.new-list ul{
  margin:0;
  padding:0px;
}
.new-list{
  background-color: #0080003d;
    min-height: 25vh;
    width: 100%;
    max-width: 85%;
    border-radius: 8px;
    padding:15px
}
.warning {
  text-align:center;
  text-transform: capitalize;
  color:red;
  padding: 8px;
  ;

}
.container{
  min-height: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.login {
text-align:center;
padding:10px;
}
.login h1 {
  color:#508400;
  text-transform: capitalize;
}
.spotify{
  color:#20b013;
  border:none;
  margin-top:10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.header{
  height:40vh;
  overflow: hidden;
  background-image: url('http://localhost:3000/resources/images/pexels-photo-5318056.jpeg');
  background-size: contain;
  background-position: bottom;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap:10px
}
.title{
  color:#fff;
  font-size: 6vw;
  border: solid 5px #12784b;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.503);
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* top:20px;
  right:20px;
  position: absolute; */
  color: rgb(0, 121, 81);
  max-width:250px;
}
.profile .name{
  background-color: seashell;
  padding: 7px;
  border-radius: 10px;
}
.profile-img{
  width:50%;
  border-radius:100%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.results-playlist{
  display: flex;
  align-items: start;
  justify-content: center;
  gap:20px;
  position:relative;
}

@media (max-width:600px) {
  .results-playlist{
    flex-wrap:wrap;
    flex-direction: column-reverse;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
